<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subdomain Hijacked by HackBros</title>
</head>
<body>
		<h1>Subdomain Hijacked by HackBros</h1> <br>
		Aishwarya Kendle & Prateek Thakare
</div>
	
</body>

</html>
